.first-section {
    text-align: left;
    margin-bottom: 4em;
}

.first-section__listitem {

    line-height: 1.4em;
    font-weight: 300;
    letter-spacing: 0.1em;
    list-style-position: inside;
    list-style: none;
}

.first-section__listitem::before {
    content: "~ ";
}

.first-section__header {
    color: #333d47;
}

.first-section__criterias ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin: 0 auto;
}

.first-section__criterias {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.col {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.col .first-section__center {
    margin: 0 auto;
}

@media (max-width: 600px) {

    .first-section__criterias {
        display: block;
    }

    .section-title {
        font-size: 1.5em;
    }

    .section-subtitle {
        font-size: 1.2em;
    }

    .first-section__header {
        font-size: 1em;
    }
}