.price-section {
    background-color: rgba(128, 128, 128, 0.113);
}

.AllPrices {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.price__element {
    margin: 0 auto;
}



.AllPrices .row {
    margin: 3em 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.AllPrices table {
    text-align: left;
    border-spacing: 0;
    border-collapse: collapse;
}

.AllPrices th,
.AllPrices td {
    font-size: .875em;
    line-height: 1.45em;
    padding: 0.8em;
}


colgroup:nth-child(3) {
    border: 4px solid #b39f55;
}

.AllPrices thead th {
    background: linear-gradient(to bottom, rgba(128, 128, 128, 0.027) 0%, #798da344 100%);

    text-align: center;
    border-bottom: 2px solid #798da344;
    font-weight: 400px;
}

.AllPrices thead th:nth-child(1) {
    background: transparent;
}

.AllPrices thead th h2 {
    font-weight: 400px;
    font-size: 1.18em;
    line-height: 1.2;
    color: #050303;
    max-width: 3em;
}

tbody tr:nth-child(even) th {
    background: linear-gradient(to right, rgba(128, 128, 128, 0.027) 0%, #798da344 100%);

    border-width: 1px 0 1px 1px;
}

tbody tr:nth-child(even) td {
    background: linear-gradient(to right, #798da341 20%, #798da3af 80%);

    border-width: 1px 0 1px 1px;
}


thead th:nth-child(3) h2 {
    font-size: 1.4em;
    color: #b39f55;
    padding: 0.4em;
    max-width: 4em;
    margin: 0 auto;
}

thead th:nth-child(3),
tbody tr td:nth-child(3) {
    background: linear-gradient(to top, #fff 20%, #b39f5561 210%);
}

/**Hervorhebung */


.AllPrices .master-barber {
    padding: 0;
}

.special-moments {
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: relative;
}

.prices__ad {
    font-family: 'Montserrat';
    color: #798da3;
    position: absolute;
    margin: 0 auto;
    font-size: 0.9em;
}

th svg {
    fill: #798da344;
    width: 6em;
    height: auto;
}



@media (max-width: 1055px) {
    .AllPrices .row {
        flex-direction: column;
        margin: 1.5em 0;
    }

    .price__element+.price__element {
        margin-top: 3em;
    }
}

@media (max-width: 450px) {

    th svg {
        width: 7em;
        height: auto;
    }

    .prices__ad {
        font-size: 0.3em;
    }

    .AllPrices th,
    .AllPrices td {
        font-size: .765em;
        line-height: 1.45em;
        padding: 0.5em;
    }

    .AllPrices thead th h2 {
        font-size: 1.2em;
        line-height: 1.2;
        max-width: 5.5em;
    }

    thead th:nth-child(3) h2 {
        font-size: 1.3em;
        color: #b39f55;
        padding: 0.6em;
        max-width: 5.5em;
    }

    .prices__ad {
        font-size: 0.95em;
    }
}