.center {
    margin-top: 2em;
    padding: 1em 0;
    text-align: center;
}

.second-section {
    background-color: #798da344;

}

.AllService {
    display: flex;
    justify-content: space-between;
}

.first-services,
.second-services {
    width: 100%;
}

.second-section .row {
    display: flex;
    justify-content: space-evenly;
}

.second-section img {
    width: 15em;
}

.second-section .section-title {
    margin-bottom: 1em;
}

.second-section .section-subtitle {
    color: black;
    font-weight: 300;
    margin-top: 0.7em;
}

@media (max-width: 1300px) {
    .AllService {
        display: block;
    }

    .AllService .col {
        padding-top: 1em;
    }

}

@media (max-width: 600px) {
    .second-section .row {
        display: block;
    }
}