.first-section {
    background-color: rgba(128, 128, 128, 0.113);
}

.first-section .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divider {
    border-top: #b39f55 solid 2.8px;
    height: 3px;
    width: 100%;
    margin: 0 auto;
}

.first-section .col {
    margin: 0 auto;
}

.first-section .col+.col {
    height: 17em;
}

.first-section .TeamPicture {
    height: 100%;
    width: auto;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75);
}

.first-section__text {
    width: 80%;
    overflow-wrap: break-word;
    text-align: left;
    line-height: 1.4em;
    font-weight: 300;
    letter-spacing: 0.09em;
}

.section-title {
    letter-spacing: 0.25em;
    color: #b39f55;
    font-size: 2em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0.125em;
    text-align: center;
}

.section-subtitle {
    font-size: 1.3em;
    text-transform: uppercase;
    color: #798da3;
    margin: 0;
    margin-bottom: 0.5em;
    text-align: center;
}

.social-media {
    display: flex;
    margin-bottom: 1em;
}

.social-media img {
    width: 2.5em;
}

.social_media__All {
    margin: 1em auto
}

.social_media__All a {
    margin: 0 1em;
    text-decoration: none;
}

.fab,
.fa-brands,
.fa-phone {
    text-decoration: none;
    color: black;
    font-size: 3em;
}

@media (min-width: 1150px) {

    .first-section .col+.col {
        height: 26em;
        width: 100%;
        margin-left: 2em;
    }

    .first-section .TeamPicture {
        height: 100%;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75);

    }

    .first-section .row {
        display: flex;
        flex-direction: row;
    }

    .first-section__text {
        text-align: left;
        width: 80%;
    }

    .divider {
        width: 100%;
    }
}

@media (max-width: 700px) {

    .first-section__text,
    .section-subtitle,
    .section-title {
        max-width: 100%;
    }
}

/*! gleich kommen */
@media (max-width: 475px) {
    .first-section .col+.col {
        height: 10em;
    }

    .section-title {
        letter-spacing: 0.25em;
        color: #b39f55;
        font-size: 1.9em;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0.125em;
    }

    .first-section__text {
        text-align: center;
        margin: 1em auto;
    }
}